@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  background: rgb(51, 51, 51);
  display: flex;
  font-size: 1rem;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li {
  list-style: none;
  padding: 0 1.5em;
}

.nav-links ul li:hover {
  background: #555;
  border-radius: 10%;
}

.nav-links ul li a {
  text-decoration: none;
}

.logo {
  width: 10%;
}

.icon,
.logo,
.navbar ul li a {
  color: rgb(215, 215, 215);
}